{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Any Post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#F0F0F0] text-[#333333]">
    {% include 'navbar.html' %}
    <div class="h-screen max-w-sm md:max-w-6xl mx-auto">
    
        {% if messages %}
            <div class="bg-white m-3 p-3 shadow-2xl rounded-2xl text-sm">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    
        {% block content %}
    
        {% endblock content %}
        
    </div>
    <script src="{% static 'js/main.js' %}"></script>    
</body>
</html>