{% extends 'main.html' %}

{% block content %}

    <div class="grid place-content-center mt-8 max-w-sm mx-auto">
        <div class="text-3xl grid place-content-start pl-8 p-3 bg-black text-white font-black">Confirm Delete</div>
        <div class="bg-white pt-4">
            <form method="POST">
                {% csrf_token %}
                <p class="mt-3 mb-3 px-8 pb-4">Are you sure you want to delete <span class="font-bold">"{{ object }}"</span> ?</p>
                <div class="grid grid-cols-2">
                    <div>
                        <!-- <a class="text-sm" href="{% url 'posts' %}">
                            <button class="w-full text-sm bg-black text-white p-2">Cancel</button>
                        </a> -->
                        <div class="w-full text-sm text-center bg-black text-white p-2">
                            <a href="{% url 'posts' %}">
                                Back
                            </a>
                        </div>
                    </div>
                    <div>
                        <input class="w-full text-sm bg-red-600 text-white p-2" name="confirm" type="submit" value="Confirm" />
                    </div>
                </div>    
            </form>
        </div>
    </div>

{% endblock %}