{% extends 'main.html' %} 

{% block content %}

<div class="mt-12">
    <div class="mb-3 bg-white">
        <div class="bg-black text-white p-3">
            <span class="text-sm font-light">{{ post.created|timesince }} ago in </span>
            <span class="font-bold">p/{{ post.category|lower }}</span> by
            <span class="font-bold">u/{{ post.owner.username }}</span>
        </div>
        <a class="bg-black text-white" href="{% url 'like-post' post.id %}">Like</a>
        <a class="bg-black text-white" href="{% url 'dislike-post' post.id %}">DisLike</a>
        <p>Total Likes : {{ post.likes }}</p>
        <div class="px-8 py-8">
            <div class="text-xl font-black mb-2">{{ post.title|title }}</div>
            <div class="font-regular">{{ post.description|linebreaks|urlize }}</div>
            <div>
                {% if post.featured_image %}
                    <img class="object-cover w-40 h-auto" src="{{ post.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="text-xl mt-6 grid place-content-start pl-8 p-3 bg-black text-white font-black">Comments</div>
    <div class="bg-white p-8">
        <!-- Comment form for new comment without a parent -->
        {% if user.is_authenticated %}
            <form method="post" class="mb-4">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="text-sm mt-2 bg-black text-white p-2">Add Comment</button>
            </form>
        {% endif %}

        <!-- Render comments -->
        {% for comment in comments %}
            {% include 'posts/comment.html' with comment=comment %}
        {% endfor %}

    </div>
</div>

{% endblock content %}